<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Demo - project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
  <!-- Expected find component in src/components/component.twig -->
  <!-- Error parsing twig template D:\tmp\express\src\views\index.twig:
    TwigException: Unable to find template file src/views,src/components\component -->
  {% include 'component' with {"foo":"bar"} %}

</body>
</html>